.NODE, .START, .TARGET, .WALL, .HOVER, .HOVER_LEAVE, .NODE-shortest-path, .NODE-visited {
    width: 1.5em;
    height: 1.5em;
    outline: 1px solid rgba(255, 255, 255, 0.20);
    display: inline-block; 
    vertical-align: top;
}

.NODE {
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
}

.NODE:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: none;
}

.NODE-shortest-path {
    background-color: yellowgreen;
}

.NODE-visited {
    background-color: royalblue;
}


.START {
    background-color: rgba(0,255,0,1);
}

.TARGET {
    background-color: rgba(255,0,0,1);
}

.WALL {
    background-color: rgb(225, 225, 225);
    /* animation-name: wall;
    animation-duration: 0.5s; */
}

@keyframes wall {
    0% {
        transform: scale(0.3);
        background-color: #2C2F33
    }
    100% {background-color: rgb(225, 225, 225)}
}

.HOVER {
    background-color: rgba(255, 255, 255, 0.25);
}

.HOVER_LEAVE {
    animation-name: hover;
    animation-duration: 0.25s;
}

@keyframes hover {
    0% {background-color: rgba(255, 255, 255, 0.075)}
    100% {background-color: rgba(0,0,0,0)}
  }