.NODE, .START, .TARGET, .WALL, .WEIGHT, .NODE-shortest-path, .NODE-visited {
    width: 2%;
    height: 0;
    padding-bottom: 2%;
    outline: 1px solid rgba(255, 255, 255, 0.20);
    vertical-align: top;
    float: left;
}

.NODE {
    color: rgba(255, 255, 255, 0.20);
    background-color: rgba(0,0,0,0);
    transition: all 0.5s;
}

.NODE:hover {
    background-color: rgba(255, 255, 255, 0.25);
    transition: none;
}

.NODE-shortest-path {
    background-color: rgba(255, 255, 0, 0.7);
}

.NODE-visited {
    animation-name: visit;
    animation-duration: 0.4s;
    background-color: royalblue;
}

@keyframes visit {
    0% {
        transform: scale(0.4);
        background-color: rgba(255, 255, 0, 0.7);
    }
    25% {background-color: rgba(0, 255, 136, 0.8)}
    75% {background-color: rgba(0, 204, 255, 0.8);}
    100% {background-color: royalblue}
}

.START {
    background-color: rgba(0,255,0,1);
}

.TARGET {
    background-color: rgba(255,0,0,1);
}

.WALL {
    background-color: rgb(225, 225, 225);
    /* animation-name: wall;
    animation-duration: 0.5s; */
}

@keyframes wall {
    0% {
        transform: scale(0.3);
        background-color: #2C2F33
    }
    100% {background-color: rgb(225, 225, 225)}
}

.img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 60%;
}